.header_top{
    height:10%;
    width:100%;
    background-color: #7DD9E8;
    overflow: hidden;
    
}

@media (min-width:1281px) {
    .header_top_start{
        width:61em;
        height:10%;
        margin:0 auto;
    }
}
@media (min-width:320px)  {
    .header_top_start{
        width:100em;
        height:10%;
        margin:0 auto;        
    }
 }
@media (min-width:480px)  { 
    .header_top_start{
        width:95em;
        height:10%;
        margin:0 auto;        
    }
}
@media (min-width:600px)  { 
    .header_top_start{
        width:90em;
        height:10%;
        margin:0 auto;        
    }
}    
@media (min-width:801px)  { 

 }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }